body {
    background-color: black;
}

.header{
    margin: 0;
    padding: 0.5rem 5%;
    position: fixed;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.options{
   
   }
.link{
    /* padding: 0px 5%; */
    text-decoration: none;
    color: white;
    font-family: ;
    font-size: 20px;
    position: relative;
}

.link::after{
    content: '';
    width: 0px;
    height: 4px;
    background: rgb(117, 9, 9);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 500ms;
    font-size: 15px;
}
.link:hover::after{
    width: 70%;
    font-size: 25px;
}

nav ul li {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 0px 20px;
    list-style: none;
}
